/*----------------------------------------------- 
    # General
-------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out; }

body {
  font-family: "Roboto", sans-serif;
  color: #272829; }

.active {
  background-color: #0563bb !important;
  color: #fff !important; }
  .active span {
    color: #fff !important; }

.zindex-hero {
  z-index: 999; }

/*----------------------------------------------- 
    # Header
-------------------------------------------------*/
.btn-nav-mobile {
  position: fixed;
  z-index: 9999;
  right: 45px;
  top: 6px;
  cursor: pointer;
  display: none; }
  .btn-nav-mobile .bi-list {
    position: absolute;
    font-size: 29px;
    color: #067ded; }
  .btn-nav-mobile .bi-x {
    position: absolute;
    font-size: 29px;
    background: #0563bb;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: none;
    transition: all 8s ease-in-out; }

#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  z-index: 1000;
  overflow-y: hidden;
  display: flex;
  overflow: auto; }
  #header .nav-menu {
    padding: auto; }
    #header .nav-menu ul {
      padding-left: 15px; }
      #header .nav-menu ul li:hover a {
        width: 100%;
        background-color: #0563bb;
        color: #fff; }
        #header .nav-menu ul li:hover a span {
          display: block; }
      #header .nav-menu ul li a {
        background: #eee;
        padding: 0 18px;
        display: flex;
        margin-bottom: 7px;
        border-radius: 50px;
        color: #333;
        font-size: 16px;
        width: 55px;
        height: 55px;
        align-items: center; }
        #header .nav-menu ul li a i {
          font-size: 20px; }
        #header .nav-menu ul li a span {
          padding-left: 5px;
          display: none;
          transition: all 0.2s ease-in-out;
          color: #fff; }

/*----------------------------------------------- 
    # Hero
-------------------------------------------------*/
.hero {
  background: url("assets/img/majed-hero.jpg") no-repeat scroll top center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding-left: 160px;
  position: relative; }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000b0;
    z-index: 998; }
  .hero h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 600; }
  .hero p {
    font-size: 26px;
    color: #fff; }
    .hero p span {
      color: #0563bb; }
  .hero .social-links {
    padding: auto; }
    .hero .social-links a {
      color: #fff;
      font-size: 18px;
      margin-right: 29px;
      display: inline-block; }
      .hero .social-links a:hover {
        color: #0563bb; }
      .hero .social-links a i {
        padding: auto; }

/*----------------------------------------------- 
    # About
-------------------------------------------------*/
.about {
  margin-top: 30px; }
  .about .title-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about .title-section h2 {
      font-size: 32px;
      color: #45505b;
      position: relative;
      text-transform: uppercase; }
      .about .title-section h2::after {
        content: "";
        position: absolute;
        background-color: #0563bb;
        height: 3px;
        top: 46px;
        left: 0;
        right: 0;
        margin-right: 33px;
        margin-left: 33px; }
      .about .title-section h2::before {
        content: "";
        position: absolute;
        background-color: #c1c1c1;
        height: 1px;
        top: 47px;
        right: 0;
        left: 0; }
    .about .title-section p {
      color: #45505b;
      margin-top: 10px; }
  .about .content-section {
    margin-top: 5px; }
    .about .content-section img {
      max-width: 100%;
      height: auto;
      padding-left: 70px; }
    .about .content-section h3 {
      color: #728394;
      margin-bottom: 21px;
      margin-top: 34px; }
    .about .content-section .item-detail {
      display: flex;
      justify-content: space-between; }
      .about .content-section .item-detail ul {
        padding: auto; }
        .about .content-section .item-detail ul li {
          font-size: 18px;
          margin-bottom: 17px;
          font-weight: bold; }
          .about .content-section .item-detail ul li i {
            color: #0563bb;
            font-size: 16px;
            margin-right: 6px; }
          .about .content-section .item-detail ul li span {
            font-weight: 300; }

/*----------------------------------------------- 
    # Skill
-------------------------------------------------*/
.skills {
  margin-top: 30px; }
  .skills .title-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .skills .title-section h2 {
      font-size: 32px;
      color: #45505b;
      position: relative;
      text-transform: uppercase; }
      .skills .title-section h2::after {
        content: "";
        position: absolute;
        background-color: #0563bb;
        height: 3px;
        top: 46px;
        left: 0;
        right: 0;
        margin-right: 33px;
        margin-left: 33px; }
      .skills .title-section h2::before {
        content: "";
        position: absolute;
        background-color: #c1c1c1;
        height: 1px;
        top: 47px;
        right: 0;
        left: 0; }
  .skills .content-section {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em; }
    .skills .content-section p {
      margin-bottom: 2px; }
    .skills .content-section .progress {
      margin-bottom: 13px;
      height: 1em; }
      .skills .content-section .progress .progress-bar {
        background-color: #0563bb; }

/*----------------------------------------------- 
    # Resume
-------------------------------------------------*/
.resume {
  margin-top: 30px; }
  .resume .title-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .resume .title-section h2 {
      font-size: 32px;
      color: #45505b;
      position: relative;
      text-transform: uppercase; }
      .resume .title-section h2::after {
        content: "";
        position: absolute;
        background-color: #0563bb;
        height: 3px;
        top: 46px;
        left: 0;
        right: 0;
        margin-right: 33px;
        margin-left: 33px; }
      .resume .title-section h2::before {
        content: "";
        position: absolute;
        background-color: #c1c1c1;
        height: 1px;
        top: 47px;
        right: 0;
        left: 0; }
  .resume .content-section {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em; }
    .resume .content-section .resume-item {
      padding: auto; }
      .resume .content-section .resume-item h3 {
        color: #45505b;
        font-size: 26px;
        margin-bottom: 20px; }
      .resume .content-section .resume-item .resume-item-content {
        border-left: 2px solid #0563bb;
        padding-left: 17px; }
        .resume .content-section .resume-item .resume-item-content h4 {
          color: #0563bb;
          position: relative;
          font-size: 18px; }
          .resume .content-section .resume-item .resume-item-content h4::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0px;
            left: -26px;
            right: 0;
            background: #fff;
            border: 2px solid;
            border-radius: 50px; }
        .resume .content-section .resume-item .resume-item-content p {
          padding-bottom: 6px;
          margin-bottom: 0; }
        .resume .content-section .resume-item .resume-item-content span {
          background: #bed4ff;
          padding: 5px;
          margin: 4px 0;
          display: inline-block;
          border-radius: 3px;
          font-size: 14px; }
        .resume .content-section .resume-item .resume-item-content .gray {
          padding: auto; }
          .resume .content-section .resume-item .resume-item-content .gray span {
            background: #f2f2f2; }
        .resume .content-section .resume-item .resume-item-content .green {
          padding: auto; }
          .resume .content-section .resume-item .resume-item-content .green span {
            background: #daffcc; }
        .resume .content-section .resume-item .resume-item-content .purple {
          padding: auto; }
          .resume .content-section .resume-item .resume-item-content .purple span {
            background: #e4d2f9; }
        .resume .content-section .resume-item .resume-item-content .desc-1 {
          padding: auto; }
        .resume .content-section .resume-item .resume-item-content .desc-2 {
          padding: auto; }
        .resume .content-section .resume-item .resume-item-content ul li {
          list-style: inside; }
        .resume .content-section .resume-item .resume-item-content .company {
          padding: auto; }
          .resume .content-section .resume-item .resume-item-content .company img {
            width: 24px;
            margin-right: 7px; }
          .resume .content-section .resume-item .resume-item-content .company span {
            background-color: unset;
            font-weight: 500; }

/*----------------------------------------------- 
    # Portfolio
-------------------------------------------------*/
.active-portfolio-filters {
  color: #fff !important;
  background-color: #0563bb !important;
  transform: scale(1.1) !important; }

.portfolio {
  margin-top: 30px;
  margin-bottom: 80px; }
  .portfolio .title-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .portfolio .title-section h2 {
      font-size: 32px;
      color: #45505b;
      position: relative;
      text-transform: uppercase; }
      .portfolio .title-section h2::after {
        content: "";
        position: absolute;
        background-color: #0563bb;
        height: 3px;
        top: 46px;
        left: 0;
        right: 0;
        margin-right: 33px;
        margin-left: 33px; }
      .portfolio .title-section h2::before {
        content: "";
        position: absolute;
        background-color: #c1c1c1;
        height: 1px;
        top: 47px;
        right: 0;
        left: 0; }
  .portfolio .portfolio-filters {
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .portfolio .portfolio-filters ul li {
      display: inline-block; }
      .portfolio .portfolio-filters ul li a {
        display: inline-block;
        padding: 4px 11px;
        background: #f2f2f2;
        color: #555;
        border-radius: 5px;
        margin: 0 2px; }
        .portfolio .portfolio-filters ul li a:hover {
          color: #fff;
          background-color: #0563bb;
          transform: scale(1.1); }
  .portfolio .content-section {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em; }
    .portfolio .content-section .portfolio-item {
      margin-top: 42px;
      background: #fff;
      padding: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      .portfolio .content-section .portfolio-item figure {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px; }
        .portfolio .content-section .portfolio-item figure img {
          max-width: 100%;
          height: auto; }
      .portfolio .content-section .portfolio-item h4 {
        color: #0563bb;
        font-size: 20px;
        font-weight: 600; }
      .portfolio .content-section .portfolio-item .label {
        margin: 16px 0; }
        .portfolio .content-section .portfolio-item .label p {
          margin: 0; }
          .portfolio .content-section .portfolio-item .label p span {
            padding: auto; }
      .portfolio .content-section .portfolio-item .btn-portfolio-item {
        display: flex;
        justify-content: space-around; }
        .portfolio .content-section .portfolio-item .btn-portfolio-item a {
          background: #0563bb;
          color: #fff;
          padding: 4px 17px;
          border-radius: 4px;
          font-size: 14px; }
          .portfolio .content-section .portfolio-item .btn-portfolio-item a:hover {
            background-color: #067ded; }
        .portfolio .content-section .portfolio-item .btn-portfolio-item .buy {
          background: #ced4da;
          cursor: not-allowed; }
          .portfolio .content-section .portfolio-item .btn-portfolio-item .buy:hover {
            background: #ced4da; }

/*----------------------------------------------- 
    # Footer 
-------------------------------------------------*/
.footer {
  text-align: center;
  background: #f7f8f9;
  padding: 30px 0;
  color: #45505b; }
  .footer h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px; }
  .footer p {
    padding: auto; }
  .footer .main {
    font-style: italic; }
  .footer .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 13px; }
    .footer .social-links a {
      display: flex;
      width: 40px;
      height: 40px;
      background: #0563bb;
      margin: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      color: #fff; }
      .footer .social-links a:hover {
        background-color: #067ded; }
      .footer .social-links a i {
        padding: auto; }
  .footer .copyright {
    padding: auto; }
    .footer .copyright p {
      padding: auto; }
      .footer .copyright p strong {
        padding: auto; }
      .footer .copyright p a {
        padding: auto; }

/*----------------------------------------------- 
    # Responsive design
-------------------------------------------------*/
@media screen and (max-width: 768px) {
  #header {
    background: #ffffff;
    width: 50%;
    border-right: 1px solid #d7d7d7;
    left: -360px;
    transition: all 0.2s; }
    #header .nav-menu {
      width: 100%; }
      #header .nav-menu ul {
        padding-right: 15px; }
        #header .nav-menu ul li:hover a {
          width: 100%;
          background-color: #0563bb;
          color: #fff; }
          #header .nav-menu ul li:hover a span {
            display: block;
            color: #fff; }
        #header .nav-menu ul li a {
          width: 100%; }
          #header .nav-menu ul li a span {
            display: block;
            color: #111; }
  .hero {
    padding-left: unset;
    text-align: center; }
    .hero h1 {
      font-size: 30px; }
    .hero p {
      font-size: 24px; }
    .hero .social-links a {
      margin-right: 15px; }
  .btn-nav-mobile {
    display: block; } }

@media screen and (max-width: 992px) {
  .about .content-section img {
    padding-left: unset; }
  .about .content-section .item-detail {
    display: block; } }

@media screen and (max-width: 1200px) {
  .about .content-section img {
    padding-left: unset; } }
